$font-color: white;
$background-color: black;
$fog-color: green;
$night-color: red;
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: white;
$button-textcolor: white;
$shadowcolor: white;
$text-shadow-color: black;
$fadecolor: gray;
